<div class="taskItem" *ngIf="Task">


  <div class="card" style="width: 18rem;" *ngIf="Task.Mode==formMode.Read">
    <div class="card-body">
      <h5 class="card-title">{{Task.Description}} <span class="ctlButtons"><i class="bi bi-pencil" (click)="Emit({Type:taskEventList.Edit,Task:Task})"></i> <i class="bi bi-tr"></i> <i (click)="Emit({Type:taskEventList.Delete,Task:Task})" class="bi bi-trash"></i> </span></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{Task.User?.Name}} </h6>
      <p class="card-text">
        <ng-container *ngTemplateOutlet="Status"></ng-container>  <i *ngIf="Task.RequiredByDate">
          <ng-container *ngIf="Task.RequiredByDate">
            <br />
           <i>Required By:</i> {{Task.RequiredByDate | date:'dd.MM.yyy'}}
          </ng-container>
        </i>
      </p>

      <a *ngIf="Task.ID"  routerLink="/comment" class="card-link" [queryParams]="{id: Task.ID}" >Comments</a>
       
    </div>
  </div>
  <div class="card" style="width: 18rem;" *ngIf="Task.Mode==formMode.Edit">
    <div class="card-body">


      <div class="form-group">
        <label>Description</label>
        <input class="form-control" [(ngModel)]="Task.Description" placeholder="Content of task...">
        <ng-container *ngIf="!Task.Description"> <ng-container *ngTemplateOutlet="Required"></ng-container></ng-container>
      </div>
      <div class="form-group">
        <label>Required by Date</label>
        <input class="form-control" type="date" [(ngModel)]="Task.RequiredByDate">
      </div>
      <div class="form-group">
        <label>Task Status</label>
        <select class="form-control" [(ngModel)]="Task.TaskStatus">
          <option [value]="taskStatusList.Active">Active</option>
          <option [value]="taskStatusList.Done">Done</option>
        </select>
      </div>
      <div class="form-group">
        <label>Task Type</label>
        <select class="form-control" [(ngModel)]="Task.TaskType">
          <option [value]="taskTypeList.TaskTypeA"> Type A</option>
          <option [value]="taskTypeList.TaskTypeB"> Type B</option>
          <option [value]="taskTypeList.TaskTypeC"> Type C</option>
        </select>
      </div>
      <div class="form-group">
        <label>Assigned To</label>
        <select *ngIf="users && users.length" class="form-control" [(ngModel)]="Task.AssignedTo" (change)="MapUser()">
          <option *ngFor="let user of users" [value]="user.ID"> {{user.Name}}</option>

        </select>
        <i *ngIf="!users?.length" class="badge badge-danger">No user in DB!</i>
        <ng-container *ngIf="!Task.AssignedTo">   <ng-container *ngTemplateOutlet="Required"></ng-container></ng-container>

      </div>

    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" [disabled]="!Valid" (click)="Emit({Type:taskEventList.Save,Task:Task})">Save</button>
      <button type="button" class="btn btn-danger" style="float:right" (click)="Task.Mode = formMode.Read">Cancel</button>
    </div>
  </div>
  <ng-template #Required>
    <small class="form-text text-muted">* Required</small>
  </ng-template>

  <ng-template #Status>
    <span class="badge rounded-pill text-bg-primary" *ngIf="Task.TaskStatus==taskStatusList.Active">Active</span>
    <span class="badge rounded-pill text-bg-success" *ngIf="Task.TaskStatus==taskStatusList.Done">Done</span>
  </ng-template>


</div>

